/2020-municipales-2-bdv.csv
/2022-presidentielle-2-bdv.csv
/2019-europeenne-bdv.csv
/2021-regionales-2-bdv.csv
/2014-europeenne-bdv.csv
/2022-legislatives-2-bdv.csv
/2017-legislatives-1-bdv.csv
/2005-referendum-bdv.csv
/2024-europeenne-bdv.csv
/2021-departementales-1-bdv.csv
/2022-presidentielle-1-bdv.csv
/2024-legislatives-2-bdv.csv
/2021-departementales-2-bdv.csv
/2012-presidentielle-bdv.csv
/2020-municipales-1-bdv.csv
/2017-presidentielle-1-bdv.csv
/2021-regionales-1-bdv.csv
/2022-legislatives-1-bdv.csv
/2017-legislatives-2-bdv.csv
/2024-legislatives-1-bdv.csv
/2017-presidentielle-2-bdv.csv
