/2012-presidentielle.csv
/2017-presidentielle-1.csv
/2017-presidentielle-2.csv
/2022-presidentielle-1.csv
/2022-presidentielle-2.csv
/2017-legislatives-1.csv
/2017-legislatives-2.csv
/2022-legislatives-1.csv
/2022-legislatives-2.csv
/2024-legislatives-1.csv
/2024-legislatives-2.csv
/2014-europeenne.csv
/2019-europeenne.csv
/2024-europeenne.csv
/2020-municipales-1.csv
/2020-municipales-2.csv
/2021-regionales-1.csv
/2021-regionales-2.csv
/2021-departementales-1.csv
/2021-departementales-2.csv
/2005-referendum.csv
